:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

body {
  color: var(--slate);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----------------------header--------------------- */

.header-container,
.nav,
.nav-list,
.contacts-header {
  display: flex;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
}

.header-container {
  align-items: center;
}

.nav {
  align-items: center;
}

.nav-list {
  gap: 40px;
}
.nav-link {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px 0;
  display: block;
}
.current::after {
  display: block;
  position: relative;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  content: '';
}
.color-page {
  color: var(--ocean);
}

.address {
  margin-left: auto;
  font-style: normal;
}

.contacts-header {
  gap: 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--navyblue);
  text-decoration: none;
  text-transform: uppercase;
  padding: 24px 0 24px 0;

  margin-right: 76px;
}

.accent {
  color: var(--iris);
}

.header-email {
  display: block;
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel {
  display: block;
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--ocean);
}

/* -------------------------hiro---------------------- */

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0 188px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;

  text-align: center;
  color: var(--white);

  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);

  min-width: 169px;
  height: 56px;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;

  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/* ---------------------------benefits------------------- */

.feature-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);

  margin-bottom: 8px;
}

.benefits-text {
  font-size: 16px;
  line-height: 1.5;
}

.icon-background {
  display: flex;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud);
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}

.benefits-icon {
  width: 64px;
  height: 64px;
}

/* --------------------work---------------- */

.work {
  padding-top: 0;
}

.work-title {
  color: var(--navyblue);

  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

.work-list {
  display: flex;
  gap: 24px;
}

.work-list .item {
  width: calc((100% - 48px) / 3);
}

/* -------------------team---------------- */

.team {
  background-color: var(--cloud);
}

.team-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list .item {
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-text {
  padding: 32px 16px;
}

.text-name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.icon-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons {
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--ocean);
}

/* ------------------clients--------------------- */

.clients-title {
  color: var(--navyblue);

  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

.clients-list {
  display: flex;
  gap: 24px;
}

.client-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((100% - 24px * 5) / 6);
}

.clients-link {
  display: block;
  padding: 16px 32px;
  fill: var(--light-slate);
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  width: 104px;
  height: 56px;
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--ocean);
  border: 1px solid var(--ocean);
}

/* ------------------portfolio-------- */

.project {
  padding-top: 96px;
}
.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);

  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud);

  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}

.project-card {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.project-list .item {
  width: calc((100% - 24px * 2) / 3);
}

.project-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.project-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

/* -------------------------footer--------------- */

.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.container-footer {
  display: flex;
}
.footer-block {
  margin-right: 120px;
}

.footer-logo {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--cloud);
  display: inline-block;

  margin-bottom: 16px;
}
.footer-text {
  color: var(--cloud);
  max-width: 264px;
}

.footer-title {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social {
  display: block;
}

.footer-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  width: 24px;
  height: 24px;
  fill: var(--white);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--green);
}
